.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background: rgb(241, 241, 241);
  min-height: 100vh;
}
.util-con {
  margin-left: auto;
}
.container{
  margin: auto 25px;
}
